[2020-03-28 17:14] sjghose opened #1 "Not Optimizing in some instances"
UPDATE: Think I know what's contributing to the issue - only when I specify **width:** it doesn't compress the images. If I specify length: no image is displayed
OptimizedCacheImage(
             imageUrl: widget.itemzs[index].originalimageurl,
            width:300,
Also in my test example 8 images compress from 24.2 MB to 4.3 MB in memory which is awesome.

In my brief tests for OptimizedCacheIm

[2020-03-28 19:30] humblerookie commented on #1
Hey thanks for writing and reporting this. Just a check here are the memory snapshots I've taken of OptimizedNetworkImage vs CachedNetworkImage on my pixel3a for about 20 images

![OptimizedNetworkImage](https://ibb.co/SNBsNMM)
![CachedNetworkImage](https://ibb.co/fCvHhxF)

If you carefully look at the two while the used memory is the same, decode bitmaps are a part of the "external" memory rather

[2020-03-28 20:36] humblerookie commented on #1
@sjghose  https://github.com/humblerookie/optimized_cached_image/pull/2 Should fix this. There is a new release on pub [0.1.4](https://pub.dev/packages/optimized_cached_image/versions/0.1.4). Do let me know if you're still facing any issue.

[2020-03-28 22:28] sjghose commented on #1
That was quick!! Works great. Yes issue is fixed - I am able to specify width. Results of my tests - I took a snapshot of heap memory
#OptimizedNetworkImage (width:300) Images **36 - 8MB**
![image](https://user-images.githubusercontent.com/43908845/77835200-c5399980-7120-11ea-8837-19822cb9cd25.png)

#CachedNetworkImage (width:300)  Images **36 - 17.7MB**
![image](https://user-images.githubusercont

[2020-03-28 22:28] #1 closed

[2020-03-29 04:23] humblerookie commented on #1
Hmm, this might need more investigation on my part; could you maybe send me snap of the heap dump at that time?

[2020-03-29 10:11] humblerookie commented on #1
@sjghose : I've made a small change that allows streaming/chunked downloads via a config parameter called `useHttpStream`(v0.1.6 check readme for more) which further reduces the memory print check #3  (added screenshot as well).

[2020-04-04 19:16] sjghose opened #5 "Failures on ImageCacheManager using HttpStream"
UPDATE: With HttpStream hanging up on .png and .cms image files and not displaying images with those extensions, with useHttpStream:false able to display them though it takes between 1-3 secs each.
Image rendering HttpStream is considerably faster when set to true.
****************************
Thank you for exposing the CacheManager as well (using the Optimized Cache Manager in app). Initialized w

[2020-04-06 04:26] humblerookie commented on #5
Thanks for reporting this. At first glance, This might have something to do with the compression library being used. `flutter_image_compress`. I'll take a look at why this might be happening and get back.

[2020-04-19 09:41] sjghose commented on #5
Just a quick update - the error I get is due to using useHttpStream: true. The good news is OptimizedCacheImage works just fine without useHttpStream .

ImageCacheManager.init(ImageCacheConfig(
        //   useHttpStream: true,
        maxNrOfCacheObjects: 1000,
        heightKey: '350',
        maxAgeCacheObject: Duration(days: 2)));

[2020-05-06 07:55] Tizoner opened #6 "flutter_cache_manager: '>=1.0.0 <=1.1.3'"
I can't use this package with audio_service package that uses flutter_cache_manager: '^1.2.2'.
Please remove upper bound dependency restriction.

[2020-05-06 08:49] Tizoner commented on #6
When I've tried to manually remove restriciton, build failed.
But when I've changed flutter_cache_manager version of audio_service package to '^1.1.3' everything worked.
So you don't have to change code to remove this upper bound restriction.
The problem is not in your package.

[2020-05-06 08:49] #6 closed

[2020-05-08 09:36] humblerookie commented on #6
Hi @Tizoner ,
The issue is really that 1.1.3 introduced breaking changes in flutter cache manager, I'll try updating the library this weekend to support the latest version.

[2020-05-08 09:50] Tizoner commented on #6
Thank you, it would be great.
Your package allowed me to reduce images cache size by 10 times, while still keeping perfect image quality which is really cool.

[2020-05-08 19:19] humblerookie commented on #5
I just upgraded to the latest cache manager APIs and released a new version. This cache manager API has built in streams, Could you check if these issues are happening still? https://github.com/humblerookie/optimized_cached_image/releases/tag/v0.1.10

[2020-05-08 19:20] humblerookie commented on #6
I've just upgraded to the latest cache manager version https://github.com/humblerookie/optimized_cached_image/releases/tag/v0.1.10.

[2020-05-08 21:55] Tizoner opened #7 "Unhandled Exception: FileSystemException: Cannot retrieve length of file"
[code]

Debug mode pointed to resizedFile.lengthSync() in _scaleImageFile
[code]

[2020-05-08 22:05] Tizoner commented on #7
Though after I've cleaned cache and tried again error didn't appear.
Instead  it constantly print in console this line:
[code]

[2020-05-09 04:28] humblerookie commented on #7
Could you try using this latest commit, this should resolve the file not found error.
[code]
For some reason layout builder passes 0 , 0 as the constraints at times, this causes the compression step to fail.

Regarding this

This library is using` flutter_image_compress` and it turns out to be holding on connections/not closing them. Will raise an issue there

[2020-05-09 05:06] Tizoner commented on #7
The problem here not only layout builder but also that it tries to delete files that may not exist.
[code]
When I've manually swiped resizedFile.lengthSync() < srcSize in _scaleImageFile with resizedFile.existsSync() && resizedFile.lengthSync() < srcSize first error disappeared but "A resource failed to call close" didn't go anywhere.

[2020-05-09 05:38] humblerookie commented on #7
That's a good catch, assuming the compression fails, I'd like to fall back on the original file.

Like I've said before this is a result of using the compression library,  as a matter of asserting the same you could just remove [this block](https://github.com/humblerookie/optimized_cached_image/commit/9e6752739263d7683005b0cd605d305048621ea2#diff-1a0cc0a6d95dd4b90ef0a33b24f26697R50) and verify tho

[2020-05-10 12:17] Tizoner opened #9 "The method 'existsSync' was called on null."
[code]
This error is from here
[code]
Please do something about it.

[2020-05-11 06:52] humblerookie commented on #9
Could you share the image you're trying to load, while its an easy fix, I wish to examine this deeper, since `Flutter Image compress`  seems to be having an issue with this.

[2020-05-11 08:52] Tizoner commented on #9
I'm trying to load hundreds of images asynchronously and it works well with 0.1.9 version of your package.
So problem is not in particular image but in the way package (or Flutter Image compress) handles lots of images.

[2020-05-15 05:05] humblerookie commented on #9
Fixed this in the latest release. https://github.com/humblerookie/optimized_cached_image/pull/10

[2020-05-15 05:06] humblerookie commented on #5
Closing because of inactivity, feel free to reopen if it doesn't work for you

[2020-05-15 05:06] #5 closed

[2020-05-20 05:57] humblerookie commented on #9
Closing this issue for lack of activity, feel free to reopen once done.

[2020-05-20 05:57] #9 closed

[2020-06-02 09:39] zamahaka opened #11 "A resource failed to call close."
Thx, awesome lib!
But I frequently see log message `A resource failed to call close` when I scroll thru list of items with `OptimizedCacheImage`

I see places where it can happen:
1. `BaseCacheManager.getFileStream` creates `StreamController` which is never release/closed
2. `ImageCacheManager.getFileStream` - same

[2020-06-02 09:46] humblerookie commented on #11
Hey @zamahaka, Thanks for the kind words.

The issue is not related to both the sources, if you look carefully stream is indeed closed in both files. The problem is with the compression library, if you were in fact to return the original image without invoking FlutterImageCompress then the log will never show up.
I've discussed the same [here](https://github.com/humblerookie/optimized_cached_image

[2020-06-02 09:58] zamahaka commented on #11
Thanks for the quick response! Yeah, I see now, sorry I didn't dive deep enough.
Can you, please, tell if its just a warning/noise message, or it has some impact on memory/performance and if its safe to use it in production.
Thanks in advance!

[2020-06-02 11:35] humblerookie commented on #11
So I'll have to check the behaviour of the FIC lib before commenting, but if it's not a stream that is trying to read chunked data from the file then I suppose there will be no impact, however, if the FIC is mapping the stream controllers to another stream reading data from the file then the file handlers can be left open which might cause a memory impact.

[2020-06-02 14:02] zamahaka commented on #11
@humblerookie I ran some tests, and it has impact on memory.
Raised it to 1GB, and profiler force GC doesn't drop it, even when I close screen with Images.
And most of it seems to be stored in graphics memo.
![image](https://user-images.githubusercontent.com/17888913/83529147-a5449e80-a4f2-11ea-9bc5-e1522c3a688a.png)

[2020-06-03 16:31] humblerookie commented on #11
Thanks for profiling this, I'll work on this over the weekend.

[2020-06-08 06:03] humblerookie commented on #11
@zamahaka

I had a chance to look into FIC code, Could you see if this works for you. This should fix the open handles

[code]

[2020-06-09 13:28] britannio opened #13 "Caching image at different sizes?"
I'm downloading a full-size image then using `OptimizedCacheImage` to cache a downsized version but then when I want to view the full-size image it sees that the width and height are different so the download is performed again.

Is there a way to download the image once and save it at different resolutions so I can show the same image at two resolutions with a single download?

e.g. download an i

[2020-06-11 09:25] zamahaka commented on #13
@britannio This is mentioned id [Readme](https://github.com/humblerookie/optimized_cached_image/blob/master/README.md) Todo section.

[2020-06-15 10:59] zamahaka commented on #11
@humblerookie Again, thanks for the fix!
Can you provide any updates on when it will be merged?

[2020-06-15 12:35] britannio commented on #13
Yeah, is it being addressed soon? Do you have any guidance if I were to attempt to implement it?

[2020-06-18 03:02] humblerookie commented on #11
@zamahaka  I'll merge it this week. Just have to add a debug mode

[2020-07-09 05:34] humblerookie commented on #7
This issue has been resolved now with[ release 0.1.14](https://pub.dev/packages/optimized_cached_image#-installing-tab-)

[2020-07-09 05:34] #7 closed

[2020-07-10 08:20] amitjangid80 opened #16 "Exception: Could not instantiate image codec."
I get this error while loading images using this plugin. The image is loading from the url, but when I close the app and open again then I get this error. The images are loaded and displaying properly but after closing and re-opening the app I get these error.

Exception: Could not instantiate image codec.

When the exception was thrown, this was the stack:
#0      _futurize (dart:ui/painting.dart

[2020-07-13 02:19] humblerookie commented on #16
Hi Amit
Thanks for highlighting the issue, I'll take a look. Could you specify the entire stacktrace in the meantime?

[2020-07-13 05:36] amitjangid80 commented on #16
Hi,

This is the only stacktrace I got. But, sometimes I get the following exception as well.

══╡ EXCEPTION CAUGHT BY IMAGE RESOURCE SERVICE ╞════════════════════════════════════════════════════
flutter: The following _Exception was thrown resolving an image codec:
flutter: Exception: Could not instantiate image codec.
flutter:
flutter: When the exception was thrown, this was the stack:
flutter:

[2020-07-22 11:05] leszekkrol commented on #16
Any update in this case?

[2020-07-22 16:37] humblerookie commented on #16
@leszekkrol  Not yet. I'll check and post back.

[2020-07-26 14:56] humblerookie commented on #16
@leszekkrol  and @amitjangid80  Can you turn [enableLog](https://github.com/humblerookie/optimized_cached_image/blob/647a3da4f96d34cf1273c88fb98b932b0b55830d/example/lib/main.dart#L26) flag and share the logs?

[2020-07-28 11:39] dev-kasibhatla opened #17 "Image doesn't load when file in cache is unavailable"
For some reason, from time to time, one or more files in cache get invalidated / corrupted and while it doesn't crash the app, the image container remains empty.
The thrown exception is printed onto the console:

Here is the error for your reference:

` Bad state: LocalFile: '/data/user/0/***/cache/libCachedImageData/****-d018-11ea-9ac9-19b2fc1cd3e3.jpg' is empty and cannot be loaded as an image.

[2020-07-28 12:39] humblerookie commented on #17
Hey, thanks for bringing this up. I'll take a look and patch this.

[2020-07-28 13:09] xJon opened #18 "Issue after updating with the flutter_image_compress dependency"
After updating from `0.1.13` to `0.1.14`, the `flutter_image_compress` dependency also seemed to update from `0.6.8` to `0.7.0`.
Trying to compile, I get this error message:

[code]

After trying to manually delete the old package versions from `.pub-cache`, I get this:
[code]

Any idea what's going wrong? For now I've reverted the versions and it launches fine.
My `flutter doctor`:
[code]

[2020-07-28 13:19] humblerookie commented on #18
Seems to be this issue https://github.com/OpenFlutter/flutter_image_compress/issues/69. Can you check if any of those solutions work for you?  I remember encountering the issue and doing a flute upgrade post that and it worked for me. My version Is pretty much the same as yours. Let me know if it doesn't work for you still

[2020-08-04 04:09] JayPerfetto commented on #17
I also have this issue, thanks

[2020-08-04 11:32] hikmawanaz commented on #18
i have same issue, any idea to fix this?
i have tried flutter clean and delete pub-spec cache but still get same error

[2020-08-04 12:12] xJon commented on #18
Hi @humblerookie, deleting both from the cache didn't work.

[2020-08-05 08:12] hikmawanaz commented on #18
I think this is issue from package flutter_image_compress 0.7.0, i have tried that package sparetly than the same error occured.
Maybe someone wanna create issue about this in flutter_image_compress repository

[2020-08-07 17:34] humblerookie commented on #17
I've synced up this repo with the parent project. Could you verify if the issue still persists?

[2020-08-07 17:46] humblerookie commented on #16
Seems like there was a similar [issue](https://github.com/Baseflow/flutter_cached_network_image/issues/320) which was fixed in the parent project .I've synced with the project and updated a new version let me know if this fixes the issue

[2020-08-08 04:17] dev-kasibhatla commented on #17
I couldn't find a way to reproduce the error, and i think it is fairly random. If anyone finds out that the issue persists, please reopen this thread.
Thank you

[2020-08-08 04:17] #17 closed

[2020-08-08 04:18] humblerookie commented on #17
thanks a lot :)

[2020-08-08 18:09] humblerookie commented on #13
https://github.com/humblerookie/optimized_cached_image/pull/20 address the same, I've made a prerelease `1.0.0-beta` for the same. I'm closing this issue, for now, feel free to open if you feel otherwise.

[2020-08-08 18:09] #13 closed

[2020-08-09 10:27] britannio opened #21 "Should this package be depending on the octo_image package instead of copy/pasting it."
I'd think that it would be easier to keep this package up to date with `cached_network_image` if it copied the least amount of code. Since `octo_image` is a package on pub and it doesn't affect caching, wouldn't it be better to just depend on the package itself?

[2020-08-10 13:58] humblerookie commented on #21
[This PR](https://github.com/humblerookie/optimized_cached_image/pull/22) should resolve the same

[2020-08-10 14:00] #21 closed

[2020-08-23 20:30] vtisnado opened #24 "Error: The getter 'reportImageChunkEvent' isn't defined for the class 'MultiImageStreamCompleter'"
After updating to the version **1.0.0** Im getting the following error message, it also happens in version **0.1.15**

[code]

This is the result of flutter doctor:

[code]

[2020-08-26 04:38] humblerookie commented on #24
Could you update to the lates sdk version this was added [here](https://github.com/flutter/flutter/commit/0763a57a980a33da41e9235032c7a5a746653285#diff-c40603317cbbb567a0ac6c32803d6788)

[2020-08-28 06:20] humblerookie commented on #24
Closing this, feel free to reopen if this isn't fixed.

[2020-08-28 06:21] #24 closed

[2020-08-28 06:21] humblerookie commented on #16
I'm closing this issue dude to inactivity, feel free to reopen in case the issue resurfaces

[2020-08-28 06:21] #16 closed

[2020-09-18 09:59] kokocooler2020 opened #25 "Please add cancellation function"
This is a high-performance plugin, but no cancellation function.
When a lot of image in a list view, and user scrolling it fast, a lot of network or file load will cause lag.
so, whould you thinking for add cancellation function please?
The cancellation function will bring amazing performance and load capacity!
and thank you!

[2020-09-22 13:23] violet-dev opened #26 "Memory Leak when using ImageBuilder"
* no cacheExtent, no use imageBuilder
![3333](https://user-images.githubusercontent.com/66541802/93887129-41541900-fd21-11ea-82ed-5884848d03ed.PNG)

* cacheExtent: height * 2, no use imageBuilder
![2222](https://user-images.githubusercontent.com/66541802/93887127-41541900-fd21-11ea-88ba-bade0768ac7f.PNG)

* no cacheExtent, use imageBuilder
![4444](https://user-images.githubusercontent.com/66541802

[2020-09-22 16:12] violet-dev commented on #26
I fixed it like this temporarily

[code]

[code]

[2020-09-23 06:53] humblerookie commented on #25
@kokocooler2020 Thanks for notifying this, while I could make the necessary changes here I think this use case fits the parent library so I'd recommend raising an issue over there instead.

[2020-11-07 14:21] khoadng opened #27 "Using Hero widget will cause image to reload"
Please use this code snippet to reproduce this issue.

[code]

Hero transition shouldn't cause the image to reload. The behavior should be similar to Image.network

[2020-11-08 09:32] humblerookie commented on #27
So this is a known issue, you'll have to specify the width/height directly to make this otherwise this may not work mostly because the LayoutBuilder rebuilds a few times with different dimensions which causes the glitch.

i.e.
[code]
 I'll investigate this further and post an update but there's an initial snap from the render cycles

[code]
As you can see teh constraintHeight(cH) and maxHeight(max

[2020-11-09 03:26] khoaharp commented on #27
Thanks for the quick respond, I'm looking forward for the update.

[2020-11-23 12:48] zierka opened #28 "Gif support"
After switching from [cached_network_image](https://pub.dev/packages/cached_network_image) I found that gif-s aren't playing anymore. Flutter `Image` natively supports playing gif-s, it would be nice if this (otherwise really great!) package could support it as well.

[2020-11-30 19:47] ThinkDigitalSoftware opened #29 "The getter 'store' isn't defined for the class 'ImageCacheManager'."
When trying to build my project, I'm getting this error. When I look into the code, it's right. I can't find `store` declared anywhere in this package. In fact, it's only mentioned in this function. How do I get around this?

[2020-12-06 05:59] humblerookie commented on #29
This is most likely some issue with flutter upgrade/cache, could you provide the flutter doctor output?

[2020-12-06 06:15] ThinkDigitalSoftware commented on #29
I believe this got fixed by deleting the package from pub cache and redownloading

[2020-12-08 17:07] humblerookie commented on #29
Cool thanks

[2020-12-08 17:07] #29 closed

[2020-12-09 06:36] winterdl opened #30 "Support new flutter_cache_manager 2.x"
Thank you for the lib, it's saved me from the crash of loading a lot images, but the lib using flutter_cache_manager 1.x, it's good if have a branch support flutter_cache_manager 2.x, because it's conflict with some packages I used in the app.

Thank you

[2020-12-14 03:54] humblerookie commented on #30
Thanks for reporting this,
I'll take a look and upgrade it.

[2021-01-22 07:23] virskor opened #31 "The getter 'store' isn't defined for the class 'ImageCacheManager'."
../packages/flutter_optimized_cached_image/lib/image_cache_manager.dart:75:36: Error: The getter 'store' isn't defined for the class
    'ImageCacheManager'.
     - 'ImageCacheManager' is from 'package:optimized_cached_image/image_cache_manager.dart'
     ('../packages/flutter_optimized_cached_image/lib/image_cache_manager.dart').
    Try correcting the name to the name of an existing getter, or d

[2021-01-22 18:26] humblerookie commented on #31
@virskor  Consider clearing the pub cache for the cache manager and optimized_cache_image and retrying.

[2021-01-31 05:03] virskor commented on #31
Maybe this problem is cause by force override pub dependency on pubspec.yaml，but i am using latest version of image cache manager. so i will come back after optimized_cached_image's migration.

[2021-02-19 14:09] amugofjava commented on #30
I've found the same thing. `optimized_cached_image` has really helped with reducing crashes in my app due to lots of images, but it would be fantastic if its dependencies could be updated.

[2021-02-22 05:40] humblerookie commented on #25
Closing this issue after no response

[2021-02-22 05:40] #25 closed

[2021-02-22 06:02] humblerookie commented on #30
@amugofjava I have been trying to upgrade sometime back but deferred since a lot of the code for the `fcm` has changed.
 It seems like the original purpose of this library has been implemented via [this PR](https://github.com/Baseflow/flutter_cache_manager/pull/236). This includes pretty much most of the functionality OIC was built for. I'd recommend migrating to it.
 The only thing missing is pro

[2021-02-28 10:06] humblerookie commented on #30
I was checking this today and it seems the benchmarks are still way off, almost like 9x difference in memory footprint, I feel this might be due to the use of `image` library in `flutter_cache_manager` which is inefficient. I'll update this library for compatibility now.

[2021-02-28 10:26] amugofjava commented on #30
Thanks @humblerookie,

I did take a good look at the new Image support in the cache manager, but I you're right here, their choice of image library is not as efficient. What I like about your package is that it's fast and more memory efficient than other packages I have tried.

[2021-03-04 15:26] kokocooler2020 opened #32 "How to reload an image when it's loaded failed please?"
How to reload an image when it's loaded failed please?

I was listen on Function: errorWidget, when errorWidget was call, I refresh this widget by setState(), but image is not reload.

help and thank you~

[2021-03-06 22:30] winterdl commented on #30
There flutter_cached_network_image always make my app crashes, maybe the fcm ver 2 uses a lot of memory as you mentioned.

[2021-03-08 13:36] humblerookie commented on #30
@winterdl  @amugofjava  I've updated this library to the new FCM, Here's the [pre-release](https://pub.dev/packages/optimized_cached_image/versions/2.0.0-dev.1). If you wish to try it out.

Also the relevant [PR](https://github.com/humblerookie/optimized_cached_image/pull/33)

[2021-03-08 13:50] amugofjava commented on #30
Thanks @humblerookie - that's fantastic. Will give the pre-release a try and let you know how it goes.

[2021-03-08 14:02] humblerookie commented on #18
Closing this due to inactivity and not able to reproduce this

[2021-03-08 14:02] #18 closed

[2021-03-08 14:04] humblerookie commented on #26
Thanks, @violet-dev for raising this, I'll investigate this.

[2021-03-08 14:07] humblerookie commented on #32
Could you share the code you're using?

[2021-03-08 14:11] humblerookie commented on #28
@zierka  This is primarily because of the compression library support, while `flutter_cached_network_image` uses `image` to compress I'm using `flutter_image_compress` which seems to be a little more efficient. I'll add `image` as a fallback since the other library doesn't support gifs

[2021-03-09 04:19] winterdl commented on #30
Thanks @humblerookie, I will try the update and let you know.

[2021-03-11 13:33] amugofjava commented on #30
Hi @humblerookie,

I am getting the same error with `_File`. I think it might be an issue with the `file` package that `flutter_cache_manager` uses. The factory method in `io.File` returns a `_File` instance unless another API plugs in and overwrites some or all of the methods:

[code]

The `file` packages provides implementation for the `io.File` methods such as `createFile`. It may be that eithe

[2021-03-11 13:46] humblerookie commented on #30
@amugofjava @yenyichau Thanks for your feedback, I'll take a look

[2021-03-16 03:38] yenyichau opened #34 "StreamController (Bad state: Cannot add event after closing)"
This error triggered sometimes when I go to a new page with this plugin to call the image.

Plugin :
![Screenshot 2021-03-16 at 11 34 11 AM](https://user-images.githubusercontent.com/59037547/111252362-eb1abf80-864b-11eb-8edd-a274f3c35bd5.png)

StreamController :
![Screenshot 2021-03-16 at 11 34 36 AM](https://user-images.githubusercontent.com/59037547/111252370-ef46dd00-864b-11eb-8f76-2de0078fddb

[2021-03-17 11:35] pumuckelo opened #35 "Outdated Path_provider dependency"
Hello, I got the following dependency issue.

[code]

I think we just need to update the path_provider dependency

[2021-03-19 18:02] Hannnes1 commented on #35
I tried forking and updating, but I get an error saying that ``type '_File' is not a subtype of type 'File'`. So there might be more to do than just bumping the version in pubspec.

If anyone knows what the problem might be, I can give it another go.

[2021-03-19 19:59] humblerookie commented on #35
Its not an issue with that package, essentially the flutter_cache_manager uses the `file` package which has conflicting name with the dart:io package File. Its silly but dart is shitty when it comes to compile-time safety checks. I'll fix this over the weekend

[2021-03-19 21:00] humblerookie commented on #35
This issue is fixed via https://github.com/humblerookie/optimized_cached_image/pull/36. I've released a new version on pub
`2.0.0-dev.2`. Do give it a shot and let me know if the issue still persists for you.

[2021-03-19 21:02] humblerookie commented on #30
@amugofjava, @winterdl  Essentially the flutter_cache_manager uses the file package which has a conflicting name with the dart:io package File. Its silly but dart is shitty when it comes to compile-time safety checks. I'll fix this over the weekend

This issue is fixed via #36 . I've released a new version on pub
2.0.0-dev.2. Do give it a shot and let me know if the issue still persists for you.

[2021-03-20 00:15] Hannnes1 commented on #35
Works like a charm. Thank you for the quick update!

[2021-03-20 03:13] onethao opened #37 "Support nullsafety"
Hi,

Can you update pack support nullsafety?

Because optimized_cached_image >=2.0.0-dev.1 depends on octo_image ^0.3.0 and cached_network_image 3.0.0-nullsafety depends on octo_image ^1.0.0-nullsafety, optimized_cached_image >=2.0.0-dev.1 is incompatible with cached_network_image 3.0.0-nullsafety.
And because no versions of cached_network_image match >3.0.0-nullsafety <4.0.0, optimized_cached_ima

[2021-03-20 05:14] #35 closed

[2021-03-20 05:14] #30 closed

[2021-03-20 05:15] humblerookie commented on #30
Closing this issue feel free to reopen, in case there is any issue

[2021-03-20 05:18] humblerookie commented on #37
I'm sorry those are pre-release versions, and it would be premature to provide support for it. You may use [dependency_overrides](https://dart.dev/tools/pub/dependencies#dependency-overrides) if you wish to work with those.

[2021-03-20 08:19] winterdl commented on #30
Thank you, it works, but I have to add dependency overrides for some package:
Warning: You are using these overridden dependencies:
archive, crypto, ! http_parser 4.0.0, ! path_provider 2.0.1

[2021-03-20 19:05] pumuckelo commented on #35
@humblerookie awesome thank you!🎉

[2021-03-21 02:46] onethao commented on #37
yes, in understand but now need nullsafety with new version. Can you update?

[2021-03-21 06:29] humblerookie commented on #34
Could you upgrade to the latest version? `2.0.0`?

[2021-03-22 08:02] #34 closed

[2021-03-22 08:07] humblerookie commented on #26
Could you check this in the latest release? `2.0.0`

[2021-03-23 09:52] violet-dev commented on #26
@humblerookie
 Thank you! I'll try that

[2021-03-23 12:37] amugofjava commented on #30
Works for me @humblerookie, but I did need to check it out from source in order to update flutter_cache_manager in `pubspec.yaml` to the null safe one - which then worked fine  :)

`
flutter_cache_manager: ^3.0.0-nullsafety.2
`

[2021-03-25 09:53] britannio commented on #37
@humblerookie It seems like all the dependencies of this package have migrated to null safety and thus this package is ready to be migrated. Will you be doing this?

[2021-03-25 14:44] humblerookie commented on #37
@britannio I'm going to be busy this week, if you're comfortable contributing that would be great too.

[2021-03-25 14:45] humblerookie commented on #31
Could you try updating the library to `2.0.0`

[2021-03-26 09:45] virskor commented on #31
Thanks, i will do it as soon as possible.

[2021-03-27 14:21] amugofjava opened #40 "Using optimized_cache_image in a hero causes flickering in latest version"
Hi @humblerookie,

I am using `optmized_cache_image` within a `Hero` widget to animate between two views. When I first used v1 of your package I noticed that the image would flicker during the animation. `optmized_cache_image` was trying to fetch a different sized version of the image during each frame of the animation which resulted in flickering and the placeholder appearing in some frames. I re

[2021-03-28 04:35] onethao commented on #37
@humblerookie These packages depend are fastest version support null safety. Can you update?
  octo_image: ^1.0.0
  flutter_cache_manager: ^3.0.0

[2021-03-28 06:51] britannio commented on #37
Do you just need the dependencies to be updated now or do you also require this package to itself be null safe?

[2021-03-29 02:00] onethao commented on #37
yes, update dependencies will support null safe.

[2021-03-29 06:49] humblerookie commented on #32
You'll have to use a stateful widget and use `setState` to change the source url being used by this widget. Perhaps a retry button `onTap`  is triggered.

[2021-03-29 06:49] #32 closed

[2021-04-02 04:00] humblerookie commented on #40
@amugofjava  consider using the latest version `2.0.1`. This should work as expected, you may provide `width`/`height` as earlier or even use `maxWidthDiskCache`/`maxHeightDiskCache`

[2021-04-02 04:00] #40 closed

[2021-04-02 04:02] onethao commented on #37
It's working with optimized_cached_image: ^2.0.1. Thanks

[2021-04-02 04:02] #37 closed

[2021-04-02 04:05] humblerookie commented on #27
Just an update, fixing this would be beyond the scope of this library. since it would require an added widget that does a better job at run time than layout builder. Closing this for now.

[2021-04-02 04:05] #27 closed

[2021-04-02 05:12] humblerookie commented on #28
Hi @zierka, I've included limited support for gifs via webp via https://github.com/humblerookie/optimized_cached_image/pull/42. Do take a look at the prerelease version `2.0.2-alpha` and let me know if that works for you.

[2021-04-15 10:53] jayjah opened #45 "Null-Safety support"
I was wondering if you plan to support `null-safety` for this `optimized_cached_image` project?

[2021-04-17 09:16] humblerookie commented on #45
I do plan to, but this might take a little time. I'll keep you posted.

[2021-04-20 12:34] humblerookie commented on #31
Closing this issue due to no activity, feel free to open if it still persists

[2021-04-20 12:34] #31 closed

[2021-04-20 12:34] #28 closed

[2021-04-21 08:52] zierka commented on #28
Thank you, I will check it out!

[2021-05-01 05:24] AminMemariani opened #46 "Error after upgrading to v.2.0.1"
I'm getting this error when I want to get the APK.
[code]

[2021-05-02 09:42] humblerookie commented on #46
I'm not sure why those artifacts aren't being resolved, seems like I can download them from the URL. if you're running this on a CI setup perhaps there is a network downtime at the given time.

[2021-05-18 19:24] pumuckelo commented on #45
That would be awesome

[2021-05-26 08:51] Tom3652 opened #47 "Max cache size"
Hello !

This is more a question than a bug report :)
What is the default max cache size and is it possible to modify it please ?

Regards

[2021-05-30 21:14] MartiSilvio opened #48 "Error when building on 2.0.1"
flutter/.pub-cache/hosted/pub.dartlang.org/optimized_cached_image-2.0.1/lib/src/transformer/image_transformer.dart:83:23: Error: The class 'File' is abstract and can't be instantiated.
    final scaleFile = File(destPath);
                      ^^^^

[2021-06-01 04:20] ssabbarw commented on #48
same issue

[2021-06-02 08:04] MartiSilvio opened #50 "Jank when using 2.0.1"
is anyone having a similar issue when using it in a ListView? CachedNetworkImage doesn't have this issue, neither did version 1.0.0.

[2021-06-06 20:39] britannio commented on #50
Yes

[2021-06-14 12:19] PfizerVaccine commented on #45
Yes please.

[2021-06-15 11:33] Brazol commented on #45
@humblerookie Hi, any progress on this? Would love to use this one in our app but non-null-safety blocks us :/

[2021-06-15 12:52] pumuckelo commented on #45
I'll try to take a look at it today as well. If I'm successful I'll create a pull request

[2021-06-15 14:47] pumuckelo commented on #45
https://github.com/humblerookie/optimized_cached_image/pull/51 created a pull request

[2021-06-16 14:21] humblerookie commented on #47
@Tom3652  this is based on number of objects rather than size and is handled in the [dependent Flutter Cache Manager library](https://github.com/Baseflow/flutter_cache_manager/blob/1bd161dbe264edf854d09d20b0fd2ed1b266d232/flutter_cache_manager/lib/src/config/_config_io.dart#L21).

You could perhaps create a class that extended `DefaultImageCacheManager` and provide a custom `Config` instance. Late

[2021-06-21 07:25] Tom3652 commented on #47
Thanks for the reply i will dig into this !

[2021-06-21 07:27] #47 closed

[2021-06-30 04:40] #48 closed

[2021-07-02 09:39] yenyichau commented on #50
First load got jank issue. How to solve this?

[2021-07-02 09:55] britannio commented on #50
I ended up switching back to https://pub.dev/packages/cached_network_image as it now supports caching resized images and doesn't jank.

[2021-07-02 14:25] humblerookie commented on #50
@MartiSilvio  Could you share a screen recording and your console logs?

[2021-07-02 14:26] humblerookie commented on #46
@AminMemariani  were you able to get this working?

[2021-07-06 21:49] #46 closed

[2021-07-06 21:50] AminMemariani commented on #46
Yes, the problem was with my location, which is not supported by google due to sanctions

[2021-07-19 12:08] egaga commented on #45
@pumuckelo I would like to try out this library as replacement for Cached Network Image but null-safety is blocking, so that would be appreciated.

[2021-07-30 17:41] Termtime commented on #45
I would appreciate it too as I want to upgrade to null safety but the package is blocking.

[2021-08-01 04:23] humblerookie commented on #45
Null safe version  `3.0.0` has been deployed, should be up in a bit.
https://github.com/humblerookie/optimized_cached_image/pull/52

[2021-08-01 05:12] #45 closed

[2021-08-17 00:36] alexrainman opened #53 "How to handle error 404?"

[2022-01-09 05:03] alexrainman opened #54 "How to do zooming?"
I have tested all the solutions i have found but the image doesn't go full-screen. It zooms in its boundaries.

[2022-01-19 09:42] humblerookie commented on #54
I'm not sure I fully follow, what you mean here.

- Firstly If you don't specify the width and the image size goes beyond the screen then the resulting image would be pinned to max height/width based on its aspect ratio.
- Secondly,  I wouldn't recommend using this library for zooming images since those require little to none compression whereas this library compresses images by default.

I feel t

[2022-02-01 06:46] humblerookie commented on #54
Closing this due to inactivity feel free to open it if you find the answer insufficient.

[2022-02-01 06:46] #54 closed

[2022-02-24 15:44] DavideM12 opened #55 "errorWidget param doesn't works"
Hi guys,

I'm using Flutter 2.8.1 and optimized_cached_image 3.0.0.
I use the package in order to show the profile pic of my users.

Some profile pics of my users are corrupted and the "errorWidget" param doesn't works (it seems that ).
I tried with cached_network_image 3.2.0 and it works.

How can I handle it?

Thank you.

[2022-04-19 09:53] kaciula opened #56 "Show a gif that does not have the .gif extension"
The backend sends me gif urls but the urls don't have any extension. Unfortunately, this package does not detect that it is a gif and fails to show it.

One solution would be for the package to add a new field to the constructor to explicitly say that the url is a gif. Or is there a different approach I can take?

Here is a sample gif: https://ceras-rewards-content-dev.s3.amazonaws.com/temp/fb18ba

[2022-06-03 14:24] getpoucher opened #60 "Small images have low quality"
Hello,

I really liked this package, it improved a lot the time for image display on my app. However, I'm having an issue when the images are small. As you can see the quality is extremely low:

![Screenshot_20220603-161101](https://user-images.githubusercontent.com/106701773/171872565-8cc9eaf6-0901-4481-9306-838da91cf2df.png)
![Screenshot_20220603-161142](https://user-images.githubusercontent.com

[2022-06-04 16:27] bes89 commented on #60
A workaround is to not set width & height on `OptimizedCacheImage` but put `OptimizedCacheImage` into a `SizedBox` and set the width & height there:

from:
[code]
to:
[code]

[2022-06-05 00:49] getpoucher commented on #60
It didn't work, I still have the same problem :(
I did some tests and I think the issue might be that I'm using `fit: BoxFit.cover`: the image is resized to a smaller size without taking into consideration the BoxFit parameter. Then, when I use fit, the image scales up with low quality.

[2022-06-05 08:23] bes89 commented on #60
I use `BoxFit.cover` too and it works fine. Be sure to clear the cache (or just reinstall the app).

[2022-06-05 18:33] getpoucher commented on #60
Thanks for your answer. I did that, but I'm still facing the problem. Here's the code I'm using:

[code]

Here are the results first with `Image.network` and then with `OptimizedCachedImage`:

![Screenshot_20220605-202103](https://user-images.githubusercontent.com/106701773/172065262-3cd55c0e-280d-498f-99d5-7c5f8b6ab3b1.png)
![Screenshot_20220605-202356](https://user-images.githubusercontent.com/1

[2022-08-12 08:55] ykkd commented on #60
I faced the same issue but [this](https://github.com/flutter/flutter/issues/56239#issuecomment-625801311) solved it.

[2022-09-11 20:35] jakehockey10 opened #62 "Bad State: Stream has already been listened to."
I'm running into the error: `Bad State: Stream has already been listened to.` when attempting to view an image after the first build.  It occurs in the `_loadAsync` method of `_image_provider_io.dart`.  I was wondering how to diagnose this and how to fix it.  Could I get some help getting pointed in the right direction?

[2022-09-13 20:18] jakehockey10 opened #63 "iOS crazy memory usage"
Hello,

Thank you so much for this library, first and foremost.  It resolved some issues we were having with memory.  But we are not very experienced with dart/flutter.  But Android was very happy with this change.

Then we tested on iOS and just showing 3 photos crashed the app when interacting with the UI (scrolling, etc.).  So we took a heap snapshot with the memory page and noticed that regard

[2022-09-13 22:27] jakehockey10 commented on #63
Using the library `cached_network_image` with the same configuration:

[code]

...does not crash in the way that this library does.  My guess is that the `memCacheHeight` and `maxHeightDiskCache` (width as well) are either not working in iOS or more images are coming into memory than I was led to believe